.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #010a4330;
  flex-direction: column;
}

.forecast {
  &-container {
    max-width: 90vw;
    overflow-x: auto;
    // height: 5rem;
  }
  &-buttons {
    max-width: 600px;
    width: 80%;
  }
}
